/* font link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 1320px;
    margin: 0 auto;
}

/* header styles */
.header {
    height: 646px;
    background: black;
    display: flex;
    justify-content: space-around;
    border-radius: 30px;
    margin-bottom: 100px;
}

.header-text {
    margin-top: 178px;

}

.header-text h1 {
    color: #fff;
    font-size: 70px;
    font-weight: 700;
    line-height: 80px;
    margin-bottom: 20px;
}

.header-text p {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

.header-btn {
    background: #DD0000;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
}

.header-btn a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

.fa-angle-right {
    color: #fff;
    font-size: 20px;
    margin-left: 10px;
}

.header-banner {
    margin-top: 78px;
}

.header-banner img {
    width: 581px;
    height: 567px;
}

/* blog styles */
.match-sec {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.sidebar {
    width: 312px;
    height: 312px;
    background: black;
    border-radius: 10px;
}

.sidebar-btns {
    padding: 50px 35px;
}

.sidebar-btn {
    background: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    width: 240px;
    height: 64px;
    margin-bottom: 10px;
}

.sidebar-btn a {
    color: black;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
}

.sidebar-btn:hover {
    background-color: #DD0000;
    cursor: pointer;
}

.sidebar-btn:hover a {
    color: #fff;
}


.matches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
}

.match {
    border: 1px solid #E8E8E8;
    border-radius: 12px;
    margin-bottom: 20px;
    height: 200px;
}

.match-banner {
    display: flex;
    align-items: center;
    padding: 30px 15px 15px 15px;
}

.match .match-banner img {
    width: 100%;
    height: 100%;
}

.match .match-banner span {
    padding: 0 20px;
}

.match-detail {
    text-align: center;
}

.match-detail h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.match-detail p {}


/* footer styles */
footer {
    background-color: black;
    padding-bottom: 100px;
}

.footer-title h2 {
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 30px;
}

.footer-menu {
    padding-top: 50px;
}

.footer-menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.footer-menu ul li {
    padding-right: 20px;
}

.footer-menu ul li a {
    text-decoration: none;
    color: #B9B9B9;
}