/* font link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 1320px;
    margin: 0 auto;
}

/* header styles */
.header {
    height: 646px;
    background: black;
    display: flex;
    justify-content: space-around;
    border-radius: 30px;
}

.header-text {
    margin-top: 178px;

}

.header-text h1 {
    color: #fff;
    font-size: 70px;
    font-weight: 700;
    line-height: 80px;
    margin-bottom: 20px;
}

.header-text p {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

.header-btn {
    color: #fff;
    background: #DD0000;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
}

.header-banner {
    margin-top: 78px;
}

.header-banner img {
    width: 581px;
    height: 567px;
}